<div class="container" [style.padding]="pagePadding">
  <img class="logo-icon" src="assets/logo.svg" [style.width]="logoWidth">
  <div class="content" [style.padding]="contentPadding">
    <div class="profile-container">
      <h2 class="text-center">Your personal information </h2>
      <div class="grid">
        <div class="circle"></div>
        <div class="first-column">
          <div>
            <label>
              Name
              <br>
              <input class="list-box-small" type="text" placeholder="Name...">
            </label>
          </div>
          <div>
            <label>
              Phone
              <br>
              <input class="list-box-small" type="text" placeholder="Phone...">
            </label>
          </div>
        </div>
        <br>
        <div class="second-column">
          <div>
            <label>
              Email
              <br>
              <input class="list-box-small" type="text" placeholder="Emaill...">
            </label>
          </div>
          <div>
            <label>
              CNP
              <br>
              <input class="list-box-small" type="text" placeholder="CNP...">
            </label>
          </div>
        </div>
      </div>
      <div class="home-address">
        <label>
          Home address
          <br>
          <input class="list-box-home-address" type="text" placeholder="Home address...">
        </label>
      </div>
      <h6>Bursier: Yes/No/Not decided yet.</h6>
    </div>
  </div>
</div>
