<div class="container" [style.padding]="pagePadding">
    <img class="logo-icon" src="assets/logo.svg" [style.width]="logoWidth">
    <div class="content" [style.padding]="contentPadding">
        <p>Add optionals works!</p>
        <app-table [headers]="headers" [objectsFromDb]="tableData" [hasCheckbox]="false" [hasAction]="true"></app-table>
        <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
        <button mat-button (click)="sendOptionals()" mat-flat-button color="primary">Send Optionals</button>

    </div>

</div>
