<div class="container" [style.padding]="pagePadding">
    <img class="logo-icon" src="assets/logo.svg" [style.width]="logoWidth">
    <div class="content" [style.padding]="contentPadding">
        <div class="tables">
            <div class="select-faculty">
            <h2>Select Faculty</h2>
            <table class="table table-faculties">
                <tbody>
                    <tr *ngFor="let faculty of facultyData">
                        <td>{{faculty}}</td>
                     </tr>
                </tbody>
              </table>
            </div>

            <div class="select-year">
            <h2>Select Year</h2>
            <table class="table table-years">
                <tbody>
                    <tr *ngFor="let year of yearData">
                        <td>{{year}}</td>
                     </tr>
                </tbody>
              </table>
            </div>
        </div>  
        <br>
        <app-button class="btn" [text]="'Enroll'"></app-button>
        <div class="text-padding">
            <p>If you want to enroll at the same faculty for 2 years or you want to enroll into 2 faculties at the same time, please <span class="text-color">select the two options</span> and then press Enroll. If you only want to enroll in a year/a faculty, select only one option.</p>
        </div>   
     </div>

</div>