<div class="container" [style.padding]="pagePadding">
    <img class="logo-icon" src="assets/logo.svg" [style.width]="logoWidth">
    <div class="content" [style.padding]="contentPadding">
        <app-table [headers]="tableHeaders" [objectsFromDb]="coursesData" [hasCheckbox]="true" [hasAction]="true"></app-table>
        <app-button class="btn" [text]="'Enroll'"></app-button>
        <p>*To <span class="text-color">change the number of maximum students</span> allowed to a course, just double-click on the course’s “max students” cell and rewrite it.<br><br>

            **Check one of the two checkboxes to show if you <span class="text-color">approve of the course</span> or not <br><br>
            
            ***To <span class="text-color">see details about the course</span>, just click on the eye icon from the first column.</p>
    </div>

</div>
