<h3>Course</h3>
<br>
<dropdown [placeholderText]="'Choose name of the course'"></dropdown>
<br><br>
<h3>Table with students</h3>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Group</th>
    <th>Grade</th>
    <th>...</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>test row</td>
    <td>test row</td>
    <td>test row</td>
    <td>
      <dropdown [placeholderText]="'1-10'"></dropdown>
    </td>
    <td><button>Change grade</button></td>
  </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
  </tbody>
</table>
<br>
<p>*To change a grade, double click on the cell and rewrite it.</p>
